{
    module: "MMM-LocalNews",
    position: "middle_center",
    header: "YouTube Channels",
    config: {
        apiKey: "YOUR_API_KEY",
        channelIds: [
            "UCwYDCNWqN2S5QQaPPvCgMVg",
            "UCPR8eYB82c1mfeZzb0EW8Dg",
            "UCyU0vVL9LwypgtDRcNwFdWg"
        ]
    }
},
