.MMM-LocalNews p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  padding: 10px;
  text-align: center;
  animation: fadeInOut 5s linear forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

